Source: smet2html
Section: utils
Priority: optional
Maintainer: Tim-Philipp Müller <t.i.m@orange.net>
Standards-Version: 3.5.7.0

Package: smet2html
Architecture: i386
Depends: libc6 (>= 2.2.5-6)
Description: A command line tool that takes an eDonkey2000 server.met file
 and extracts the servers as so-called 'ed2k-links' wrapping html-links 
 around the output. It's an easy way to produce a html serverlist from a
 server.met file.

 
